.avatar__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.single__chat__profile__pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.edit__profile__pic__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(120, 206, 120);
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
