.chat__container {
    color: var(--dark-color);
    display: flex;
    align-items: flex-start;
    border-radius: .3rem;
    padding: .4rem .37rem;
    cursor: pointer;
}

.chat__profile__pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: .81rem;
    margin-right: .6rem;
    align-self: center;
    object-fit: cover;
} 

.chat__container:hover,
.active {
    /* background-color: antiquewhite; */
    background-color: rgba(255, 255, 224, .51);
    transition: background-color .3s ease-in-out;
}


@media (max-width: 650px) {
    .active {
        background-color: transparent;
    }        
}