.main__header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--light-variant-color);
    color: var(--dark-color);
}

.main__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 4rem;
}

.search__input__container {
    border: 1px solid #b31e1e;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .7rem;
    border-radius: .3rem;
}

.search__input__container > svg {
    margin-right: .31rem;
}

.search__input__container > input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: var(--dark-color);
}

.app__name > h1 {
    font-size: 1.42rem;
}

.profile__pic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: .81rem;
}

.profile__options {
    position: absolute;
    right: 60px;
    bottom: -25px;
    padding: .3rem .7rem;
    border-radius: .3rem;
    border: 1px solid #ccc;
    background-color: var(--light-color);
}

.profile__options > .option {
    display: flex;
    align-items: center;
    padding: .3rem .7rem;
    font-size: .91rem;
}

.option {
    cursor: pointer;
}

.option:hover {
    background-color: var(--light-variant-color);
    transition: all .3s ease-in-out;
}

.option > svg {
    margin-right: .5rem;
}