.signup__container {
    margin: 2rem 0 0 0;
}

.signup__header {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: .61rem 0;
    border-radius: .3rem;
    font-size: .6rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: .8rem;
    text-align: center;
}

.signup__form {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 1rem 1rem;
    border-radius: .2rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.auth__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    padding: 0 .11rem;
}

.auth__options > p {
    padding: .3rem 1rem;
    border-radius: .93rem;
    width: 100%;
    cursor: pointer;
}

.form__signup {
    background-color: antiquewhite;
}

.form__login,
.form__signup {
    text-align: center;
}

.btn__signup {
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}